@charset "utf-8";
.title {
	text-align: center;
	font-family: black-ops-one;
	margin-top: 80px;
	margin-bottom: 10px;
	color: #3E49BD;
	font-size: large;
}
.content {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}